.AddtoCart{
    padding: 12px 80px;
    background-color:  #fa3778;
    color:white;
    border: none;
    font-weight: bold;
    font-size: 14px;

    border-radius: 8px;

}

.ProductName{
    font-size: 14px;
    padding: 2px 4px 0 4px;
    margin-bottom: 2px;
  }
  
  .price {
    color: black;
    font-size: 18px;
    font-weight: 550;
    gap:1px;
    padding: 0 0 0 3px;
  }
  
  
  del {
    color: grey;
    font-size: 14px;
  }

  .PopNav{
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    background-color: white;
    place-items: center;
    box-shadow: 0 5px 20px #e5e7eb;
  }
  
  
  .ItemImg img{
    width: 100px;
    height: 100px;
     border-radius: 8px;
  }