.container{
    width: 400px;
    height: 100vh;
    background-color: white;
    border: 1px solid black;

}

.heading{
    padding: 15px 10px 2px 10px;
    display: flex;
    justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid black;
}

.heading p{
    font-size: 18px;
    font-weight: bold;
}
.CouponItem{
    display:flex;
    padding: 2px 12px 12px 12px;
    align-items: center;
     border-bottom: 1px dashed #ebecef;
}

.accordion-body{
    font-size: 12px;
    color: #757c8d;
   
}

.Coupon{
 border:1px solid #ebecef;
    border-radius:16px;
    margin: 20px 5px 0 5px ;
    padding: 10px 0 10px 0;
}

.accordion-button{
    padding: 5px 10px;
    
}

