.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: white; */
    height: 100vh;
    /* padding: 20px; */
    background-color: rgba(126, 126, 126, 0.527);
  }
  
  /* .login-left, .login-right {
    /* background: #7c0ab1; */
    /* padding: 30px ; */
    /* border-radius: 12px; */
    /* box-shadow: 0 0 12px rgba(0,0,0,0.1); */
    /* width: 250px; */
    /* margin: 10px 0; */
    /* -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px; 
  } */
  
  .login-right{
    background-image: url('https://cdn.zeptonow.com/web-static-assets-prod/artifacts/12.68.0/_next/static/media/bg-desktop.7efcec3a.png');
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 0 12px 12px 0;
    width: 200px;
    height: 400px;
    padding: 30px ;
    background-size:cover;
  }
  
  .login-left{
    width: 400px;
    height: 400px;
    background-image: url('loginleft.svg');
    border-radius: 12px 0 0 12px;
    padding: 30px ;
    background-size:cover;
  }
  
  .login-left img{
    margin: 57px 0 5px 0;
  }
  
  /* .login-left h1 {
    color: #e10068;
    font-size: 2rem;
   
  } */
  
  .login-left p {
    font-size: 2.3rem;
    color: white;
    font-weight: bold;
    margin: 15px 40px 7px 0;
    letter-spacing: 1px;
  }
  
  .login-left input {
    width: 93%;
    padding: 16px 13px;
    margin-top: 20px;
    border-radius: 0 20px 20px 0;
    /* border: 1px solid #ccc; */
    border: none;
  }
  
  
  
  .login-left button {
    width: 100%;
    padding: 14px 13px;
    background-color:  #ef4372;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  
  .login-left .terms {
    padding-top: 10px;
    font-size: 0.85rem;
    margin: 12px 0 10px 0;
   color: whitesmoke;
    text-align: center;
  }
  
  .login-left .terms a {
    color: #ef4372;
    text-decoration: none;
  }
  
  .login-right img {
    width: 120px;
    margin: 10px 10px 10px 40px;
    
  }
  
  .app-links {
    display: flex;
    flex-direction: column;
    
  }
  
  .app-links img{
    margin: 5px 10px;
    width: 170px;
  }
  .upper{
    color: #7c0ab1;
   
    font-weight: 700;
    padding: 0 20px;
    text-align: center;
  }
  
  .lower{
    color: #6b7280;
    text-align: center;
    font-size: 0.90rem;
    font-weight: none;
  }
  
  .loginNum{
    display: flex;
  }
  
  .num{
    background-color: white;
    margin-top: 20px;
    border-radius: 20px 0 0 20px;
    font-weight: 550px;
    padding: 12px 0 0 12px;
  }